@model ALMInlUpp1Jonas.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Jonas Bank</h2>

<br />
<div>
    @if (Model.CurrentAccounts.Any())
    {
        <h2>Konton</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Kundnummer
                    </th>
                    <th>
                        Kundnamn
                    </th>
                    <th>
                        Kontonummer
                    </th>
                    <th>
                        Saldo (Kr)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CurrentAccounts)
                {
                <tr>
                    <td>
                        @item.Owner.CustomerNr
                    </td>
                    <td>
                        @item.Owner.Name
                    </td>
                    <td>
                        @item.AccountNr
                    </td>
                    <td>
                        @item.Balance
                    </td>

                </tr>
                }                
            </tbody>
        </table>
    }
    else
    {
        <h2>Det finns inga konton i Banken</h2>
    }
</div>

